<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add package</title>
    <link rel="stylesheet" th:href="@{/css/pattern.css}">
    <link rel="stylesheet" th:href="@{/css/add.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/pattern.js}"></script>
</head>
<body>
<nav>
    <article class="menu-holder">
        <h1 id="logo"><span>In</span>Time</h1>
        <section class="menu-buttons-holder">
            <button class="oval-button" onclick="openPage('')">Menu</button>
            <button class="oval-button" onclick="openPage('add_delivery')">Add delivery</button>
            <button class="oval-button" onclick="openPage('add_package')">Add package</button>
            <button class="oval-button" onclick="openPage('add_good')">Add good</button>
        </section>
    </article>
</nav>
<article id="allHolder">
    <section id="contentHolder">
        <h1 class="header" th:switch="${error != null}">
            <span th:case="true" th:text="${error}"></span>
            <span th:case="*">Add Package</span>
        </h1>
        <form action="#" th:action="@{/savePackage}" th:object="${package}" method="POST">
            <section class="good-holder">
                <input type="hidden" th:field="*{id}">
                <p class="input-header">Package Number</p>
                <input th:field="*{packageNumber}" class="input-text" type="text" required>

                <p class="input-header">Address</p>
                <input th:field="*{address}" class="input-text" type="text" required>

                <p class="input-header">Delivery</p>
                <select name="deliveryID" class="input-text selector" required>
                    <option disabled selected value>Select delivery</option>
                    <option
                            th:each="myDelivery : ${deliveries}"
                            th:value="${myDelivery.getId()}"
                            th:text="${myDelivery.getPath()}">
                    </option>
                </select>

                <p class="input-header">Sender</p>
                <select name="customer" class="input-text selector" required>
                    <option disabled selected value>Select sender</option>
                    <option
                            th:each="sender : ${customers}"
                            th:value="${sender.getId()}"
                            th:text="${sender.getFullName()}">
                    </option>
                </select>

                <p class="input-header">Receiver</p>
                <select name="receiver" class="input-text selector" required>
                    <option disabled selected value>Select receiver</option>
                    <option
                            th:each="receiver : ${customers}"
                            th:value="${receiver.getId()}"
                            th:text="${receiver.getFullName()}">
                    </option>
                </select>
            </section>
            <button class="oval-button" type="submit">Add package</button>
        </form>

    </section>
</article>
</body>
</html>