<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Deliveries</title>
    <link rel="stylesheet" th:href="@{/css/pattern.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/pattern.js}"></script>
</head>
<body>
    <nav>
        <article class="menu-holder">
            <h1 id="logo"><span>In</span>Time</h1>
            <section class="menu-buttons-holder">
                <button class="oval-button" onclick="openPage('')">Menu</button>
                <button class="oval-button" onclick="openPage('add_delivery')">Add delivery</button>
                <button class="oval-button" onclick="openPage('add_package')">Add package</button>
                <button class="oval-button" onclick="openPage('add_good')">Add good</button>
            </section>
        </article>
    </nav>
    <article id="allHolder">
        <section id="contentHolder">
            <p class="header">
                Total deliveries: <span class="header" th:text="${deliveries.size()}"></span>
            </p>
            <article class="table-holder">
                <p class="header lime">Deliveries</p>
                <table>
                    <thead>
                    <tr>
                        <td>Start city</td>
                        <td>Destination city</td>
                        <td>Departure time</td>
                        <td>Arrival time</td>
                        <td>Delivered</td>
                        <td>Transport</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="delivery : ${deliveries}">
                        <td th:text="${delivery.getFromCity()}"></td>
                        <td th:text="${delivery.getToCity()}"></td>
                        <td th:text="${delivery.getDepartureTime().format(formatter)}"></td>
                        <td th:text="${delivery.getArrivalTime().format(formatter)}"></td>
                        <td th:switch="${delivery.isDelivered()}">
                            <a th:case="${true}">Yes</a>
                            <a th:case="*">No</a>
                        </td>
                        <td th:switch="${delivery.getTransport() != null}">
                            <a th:case="${true}" th:text="${delivery.getTransportAndFreeSpace()}"></a>
                            <a th:case="*">Not yet assigned</a>
                        </td>
                        <td>
                            <a th:href="@{/delivery/{id}(id=${delivery.getId()})}">Show</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </article>
        </section>
    </article>
</body>
</html>